footer 
{
    clear: left;
}

.wrapper 
{
    text-align: center;
}

.wrapper > div 
{
    float: left; padding: 10px; 
    background:  color: 
    width: 30%; 
    margin: 10px;
}

@media screen and (max-width: 960px) 
{
    .wrapper > div 
    {
        float: none;
        width: 100%;
    }
    
    .wrapper  .box1  
    {
        background: 
    }
    
   
    .wrapper  .box2  
    {
        background: 
    }
    
    .wrapper  .box3  
    {
        background: 
    }
}
    
    @media screen and (max-width: 480px) 
    {
        .wrapper > div 
        {
            float: none;
            width: 100%;
        }
        
        .wrapper  .box1  
        {
            background: 
        }

        .wrapper .box1::before 
        {
            content: none;
        } 

        .wrapper  .box2  
        {
            background: 
        }
    
        .wrapper  .box3  
        {
            display: none;
        }
    }