/* Christians kod felar, rättar. */

footer 
{
    clear: left;
}

.wrapper 
{
    text-align: center;
}

.wrapper > div 
{
    float: left; padding: 10px; 
    background: blue; color: #fff; 
    width: 30%; 
    margin: 10px;
}

@media screen and (max-width: 960px) 
{
    .wrapper > div 
    {
        float: none;
        width: 100%;
    }
    
    .wrapper  .box1  
    {
        background: yellow;
    }
    
    .wrapper .box1::before 
    {
        content: "Jag heter Håkan!";
    } 
    
    .wrapper  .box2  
    {
        background: purple;
    }
    
    .wrapper  .box3
    {
        background: green;
    }
}
    
    @media screen and (max-width: 480px) 
    {
        .wrapper > div 
        {
            float: none;
            width: 100%;
        }
        
        .wrapper  .box1  
        {
            background: yellow;
        }

        .wrapper .box1::before 
        {
            content: none;
        } 

        .wrapper  .box2  
        {
            background: purple;
        }
    
        .wrapper  .box3  
        {
            display: none;
        }
    }




@keyframes slidy 
{
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

div#slider 
{ 
    overflow: hidden; 
    height:200px;
}

div#slider figure img 
{ 
    width: 20%; float: right; 
}

div#slider figure 
{ 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}